---
---

// Headers
$header-heading-color: #fff !default;
$header-bg-color: #6D28D9 !default;
$header-bg-color-secondary: #6D28D9 !default;

// Text
$section-headings-color: #6D28D9 !default;
$body-text-color: #000000 !default;
$body-link-color: #6D28D9 !default;
$blockquote-text-color: #819198 !default;

@import "{{ site.theme }}";


.btn {
  display:none;
}
